In [1]:
import pandas as pd
df=pd.read_csv("Exchange_Rates.csv")
df

            Date Currency  Exchange
0       1/1/2015      USD    1.0000
1       1/1/2015      CAD    1.1583
2       1/1/2015      AUD    1.2214
3       1/1/2015      EUR    0.8237
4       1/1/2015      GBP    0.6415
...          ...      ...       ...
11210  2/20/2021      USD    1.0000
11211  2/20/2021      CAD    1.2610
11212  2/20/2021      AUD    1.2723
11213  2/20/2021      EUR    0.8238
11214  2/20/2021      GBP    0.7126

[11215 rows x 3 columns]

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  object
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB

In [3]:
#  to check the null values
nullvalues=df['Exchange'].isna().sum()
print(nullvalues)

0

In [4]:
# to change the datatype of Date
df['Date']=pd.to_datetime(df['Date'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  datetime64[ns]
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 263.0+ KB

In [6]:
# TO ESTABLISH PSYCOPG2 CONNECTION:
import psycopg2

connection = psycopg2.connect(
    host="localhost",
    database="Dataspark",
    user="postgres",
    password="12345678"
)

cursor = connection.cursor()


cursor.execute("SELECT version()")

version = cursor.fetchone()

print("You are connected to - ", version)

connection.close()

You are connected to -  ('PostgreSQL 15.8, compiled by Visual C++ build 1940, 64-bit',)

In [9]:
#To create a database
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

connection = psycopg2.connect(
    host="localhost",
    port="5432",
    database="Dataspark",
    user="postgres",
    password="12345678"
)

connection.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

writer = connection.cursor()

#writer.execute("create database hello")

writer.execute("""create table exchange_rates("Date" date,"Currency" text,"Exchange" real)""")

writer.close()
connection.close()

In [10]:
import pandas as pd
from sqlalchemy import create_engine

# pip install pymysql
# import pymysql


# Replace with your connection details
host="localhost"
port="5432"
database="Dataspark"
user="postgres"
password="12345678"

# Create the connection string (URL format) -> postgres
engine_string = f"postgresql://{"postgres"}:{12345678}@{"localhost"}:{5432}/{"Dataspark"}"

# Create the connection string (URL format) -> mysql
# engine_string = f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"

# Create the SQLAlchemy engine
engine = create_engine(engine_string)

# Sample DataFrame (replace with your actual data)

df = pd.DataFrame(df)

# Table name where you want to push the data
table_name = "exchange_rates"

# Push the DataFrame to the PostgreSQL table
df.to_sql(table_name, engine,if_exists='replace', index=False)  #['fail', 'replace', 'append']

print("Data successfully pushed to PostgreSQL table!")

Data successfully pushed to PostgreSQL table!