In [21]:
import re
import pandas as pd
df=pd.read_csv("Products.csv")

In [22]:
df

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,$6.62,$12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,$6.62,$12.99,101,MP4&MP3,1,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,$7.40,$14.52,101,MP4&MP3,1,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,$11.00,$21.57,101,MP4&MP3,1,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,$11.00,$21.57,101,MP4&MP3,1,Audio
...,...,...,...,...,...,...,...,...,...,...
2512,2513,Contoso Bluetooth Active Headphones L15 Red,Contoso,Red,$43.07,$129.99,505,Cell phones Accessories,5,Cell phones
2513,2514,Contoso Bluetooth Active Headphones L15 White,Contoso,White,$43.07,$129.99,505,Cell phones Accessories,5,Cell phones
2514,2515,Contoso In-Line Coupler E180 White,Contoso,White,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones
2515,2516,Contoso In-Line Coupler E180 Black,Contoso,Black,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones
2516,2517,Contoso In-Line Coupler E180 Silver,Contoso,Silver,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   object
 5   Unit Price USD  2517 non-null   object
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: int64(3), object(7)
memory usage: 196.8+ KB

In [24]:
nullvalues=df['Unit Price USD'].isna().sum()
print(nullvalues)

0

In [25]:
df['Unit Price USD'] = (
    df['Unit Price USD']
    .str.replace(r'\$', '', regex=True)    # Remove dollar sign
    .str.replace(',', '', regex=False)      # Remove commas
    .str.strip()                            # Remove any extra spaces
    .astype(float)                          # Convert to float
)

In [26]:
df['Unit Cost USD'] = (
    df['Unit Cost USD']
    .str.replace(r'\$', '', regex=True)    # Remove dollar sign
    .str.replace(',', '', regex=False)      # Remove commas
    .str.strip()                            # Remove any extra spaces
    .astype(float)                          # Convert to float
)

In [27]:
df

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,6.62,12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,6.62,12.99,101,MP4&MP3,1,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,7.40,14.52,101,MP4&MP3,1,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,11.00,21.57,101,MP4&MP3,1,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,11.00,21.57,101,MP4&MP3,1,Audio
...,...,...,...,...,...,...,...,...,...,...
2512,2513,Contoso Bluetooth Active Headphones L15 Red,Contoso,Red,43.07,129.99,505,Cell phones Accessories,5,Cell phones
2513,2514,Contoso Bluetooth Active Headphones L15 White,Contoso,White,43.07,129.99,505,Cell phones Accessories,5,Cell phones
2514,2515,Contoso In-Line Coupler E180 White,Contoso,White,1.71,3.35,505,Cell phones Accessories,5,Cell phones
2515,2516,Contoso In-Line Coupler E180 Black,Contoso,Black,1.71,3.35,505,Cell phones Accessories,5,Cell phones
2516,2517,Contoso In-Line Coupler E180 Silver,Contoso,Silver,1.71,3.35,505,Cell phones Accessories,5,Cell phones

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   float64
 5   Unit Price USD  2517 non-null   float64
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 196.8+ KB

In [29]:
# TO ESTABLISH PSYCOPG2 CONNECTION:
import psycopg2

connection = psycopg2.connect(
    host="localhost",
    database="Dataspark",
    user="postgres",
    password="12345678"
)

cursor = connection.cursor()


cursor.execute("SELECT version()")

version = cursor.fetchone()

print("You are connected to - ", version)

connection.close()

You are connected to -  ('PostgreSQL 15.8, compiled by Visual C++ build 1940, 64-bit',)

In [31]:
#To create a database
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

connection = psycopg2.connect(
    host="localhost",
    port="5432",
    database="Dataspark",
    user="postgres",
    password="12345678"
)

connection.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

writer = connection.cursor()

#writer.execute("create database hello")

writer.execute("""create table products("ProductKey" integer,"Product Name" text,"Brand" text,"Color" text,
               "Unit Cost USD" real,"Unit Price USD" real,"SubcategoryKey" integer,"Subcategory" text,"CategoryKey" integer,"Category" text)""")

writer.close()
connection.close()

In [32]:
import pandas as pd
from sqlalchemy import create_engine

# pip install pymysql
# import pymysql


# Replace with your connection details
host="localhost"
port="5432"
database="Dataspark"
user="postgres"
password="12345678"

# Create the connection string (URL format) -> postgres
engine_string = f"postgresql://{"postgres"}:{12345678}@{"localhost"}:{5432}/{"Dataspark"}"

# Create the connection string (URL format) -> mysql
# engine_string = f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"

# Create the SQLAlchemy engine
engine = create_engine(engine_string)

# Sample DataFrame (replace with your actual data)

df = pd.DataFrame(df)

# Table name where you want to push the data
table_name = "products"

# Push the DataFrame to the PostgreSQL table
df.to_sql(table_name, engine,if_exists='replace', index=False)  #['fail', 'replace', 'append']

print("Data successfully pushed to PostgreSQL table!")

Data successfully pushed to PostgreSQL table!